@charset "utf-8";

/* import */
@import url("common.css");
/*-------layout--------------------------------------------------------*/
body {width:100%; font-family:'NanumSquare',Dotum,Helvetica,"Apple SD Gothic Neo",Sans-serif;font-size:12px; line-height:1.6; background:#fff; color: #222;height:100%; font-weight:400;}


#wrap,
#header,
#container,
#content,
#footer {width:100%;position:relative; }

#wrap {overflow: hidden; min-width:1100px; min-height:600px; background:#757677}
#container {min-width:1100px;}
body._noscroll {overflow: hidden}

/* common */
.tab-pane {display:none;}
.tab-pane._active {display:block;}

.mCSB_container_wrapper {margin-right:20px;}
.mCSB_container_wrapper > .mCSB_container {padding-right:0;}
.mCSB_inside > .mCSB_container {margin-right:20px;}


textarea {border:1px solid #ccc; border-radius:6px; background:#fff; padding:10px; width:100%;}

/* popup */
#pop {z-index:1;}
#pop,
#pop:before {position:fixed; left:0; right:0; top:0; bottom:0;}
#pop:before {content:""; display:block; background:rgba(0,0,0,0.5)}

#pop .pop-wrap { 
     padding:0 10px;position:absolute; left:50%; top:50%;
    -webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);
}
#pop .pop-wrap .pop-inner .load-pop {max-width:470px; width:100%;}
#pop .pop-wrap .pop-inner .load-pop.w800 {width:800px;max-width:800px;}

#pop .pop-wrap .pop-inner .header-pop {padding:15px 30px;border-top-left-radius:10px;border-top-right-radius:10px; }
#pop .pop-wrap .pop-inner .header-pop .tit {font-size:18px; font-weight:700; line-height:1;}
#pop .pop-wrap .pop-inner .header-pop small {font-size:12px; float:right}

#pop .pop-wrap .pop-inner .header-pop.h1 {background: linear-gradient(to right, #891b00, #b81d00); color:#fff}
#pop .pop-wrap .pop-inner .header-pop.h2 {background:#dadada; color:#000;}
#pop .pop-wrap .pop-inner .header-pop.h3 {background: linear-gradient(to right, #006087 , #0087c0, #006087); color:#fff;}
#pop .pop-wrap .pop-inner .header-pop.h3 small {line-height:1;}

#pop .pop-wrap .pop-inner .pop-content .load-content {padding:30px; padding-bottom:0; background:#fff;}
#pop .pop-wrap .pop-inner .pop-content .dec-dl,
#pop .pop-wrap .pop-inner .pop-content .dec-dl dt,
#pop .pop-wrap .pop-inner .pop-content .dec-dl dd {display:block ;width:100%;font-size:12px; color:#333;}
#pop .pop-wrap .pop-inner .pop-content .dec-dl {margin-bottom:30px;}
#pop .pop-wrap .pop-inner .pop-content .dec-dl:last-child {margin-bottom:0;}
#pop .pop-wrap .pop-inner .pop-content .dec-dl dt {font-weight:700;font-size:13px; margin-bottom:5px; color:#000}

#pop .pop-wrap .pop-inner .pop-content .load-content.mCustomScrollbar {padding-right:10px;}
#pop .pop-wrap .pop-inner .pop-content .load-content.mCS_no_scrollbar {padding-right:30px;}

#pop .pop-wrap .pop-inner .btn-wrap,
#pop .pop-wrap .pop-inner .pop-content .btt-wrap {text-align:center; padding:30px 0; background:#fff; margin-top:-1px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
#pop .pop-wrap .pop-inner .pop-close {display:inline-block; line-height:28px; height:28px; color:#556080; font-size:12px; border:1px solid #556080; border-radius:6px; width:120px; text-align: center;}

.pop-confirm .dl-tbl textarea {margin-top:10px;height:80px;}
.pop-confirm .dl-tbl .tbl1 {margin:10px 0;}
.pop-confirm .dl-tbl .tbl1 th {color:#676767;}
.pop-confirm .box-dl {border:1px solid #ebebeb; border-radius:6px;}
.pop-confirm .box-dl .header {border-bottom:1px solid #ebebeb; background:#fafafa; line-height:40px; height:40px; text-align:center; font-size:14px; color:#525b74;font-weight:700;}
.pop-confirm .box-dl .con-wrap {padding:0 15px;}
.pop-confirm .dl-tbl dt .btn-container {float:right;}
.pop-confirm .dl-tbl dt .btn-container .btn {float:left; display:inline-block; height:24px; line-height:24px; border:1px solid #999; padding:0 15px; color:#000; margin-left:5px; font-size:11px; border-radius:2px;}
.pop-confirm .dl-tbl dt .btn-container .btn.b2 {border-color:#556080; color:#556080}
.pop-confirm .dl-tbl dt .btn-container .btn.b3 {border-color:#556080; background:#556080; color:#fff}
.pop-confirm .dl-tbl .tbl2 th,
.pop-confirm .dl-tbl .tbl2 td {border-bottom:2px solid #ececec; text-align: left; }
.pop-confirm .dl-tbl .tbl2 th {color:#676767}
.pop-confirm .notice-wrap {background:#f5f5f5; padding:20px; margin-top:20px; color:#000; font-size:12px; font-weight:700;}
.pop-confirm .notice-wrap .tit {line-height:1; display:block; width:100%; font-size:14px; margin-bottom:15px;}
.pop-confirm .notice-wrap .list li {padding-left:10px; position:relative; margin-bottom:10px; line-height:1.2; }
.pop-confirm .notice-wrap .list li:last-child {margin-bottom:0;}
.pop-confirm .notice-wrap .list li:before {content:""; display:block; width:3px; height:3px; background:#000; position:absolute; left:0; top:5px;}
.pop-confirm .btt-wrap .btn {display:inline-block; line-height:40px; height:44px; border:2px solid transparent; text-align:center; width:165px; border-radius:4px; font-size:16px; font-weight:700; margin:0 9px;}
.pop-confirm .btt-wrap .btn.b1 {border-color:#d61d28; background:#d61d28; color:#fff}
.pop-confirm .btt-wrap .btn.b2 {border-color:#556080; background:#fff; color:#556080}

#pop .pop-wrap .pop-inner .load-pop.alert-confirm {max-width:400px; width:400px; background:#fff; border-radius:10px;}
.alert-confirm .inner {padding:50px 10px;}
.alert-confirm .inner .msg {font-size:18px; color:#44474e; line-height:1.2; text-align: center; width:100%;}
#pop .pop-wrap .pop-inner .pop-content .alert-confirm .btt-wrap {border-top:2px solid #eaeaea; background:#fafafa; padding:10px 0;}
.alert-confirm .btt-wrap .btn {display:inline-block; line-height:35px; height:35px; border-radius:2px; font-size:14px; text-align:center; width:120px; margin:0 10px;font-weight:700;}
.alert-confirm .btt-wrap .btn.b1 {background:#168ece; color:#fff;}
.alert-confirm .btt-wrap .btn.b2 {background:#ddd; color:#000;}

/*---- page-editor-pc -------*/
.page-editor-pc #container{
    padding:0 322px 0 200px; background:#969797;
    -webkit-transition-duration: .3s;-moz-transition-duration: .3s;-ms-transition-duration: .3s;-o-transition-duration: .3s;transition-duration: .3s;
}
.page-editor-pc._hideSide #container {padding-left:0;}
.page-editor-pc .left-side,
.page-editor-pc .right-side {position:absolute; top:0; bottom:0; height:100%; min-height:600px;padding:10px;}
.page-editor-pc .left-side {
    left:0;background:#f8f8f6; width:200px;z-index:200;
    -webkit-transition-duration: .3s;-moz-transition-duration: .3s;-ms-transition-duration: .3s;-o-transition-duration: .3s;transition-duration: .3s;
}
.page-editor-pc._hideSide .left-side {left:-200px; }
.page-editor-pc .right-side {right:0;background:#ededed; width:322px;}

/*left-side*/
.page-editor-pc .left-side ._btn-drop {
    display:block; width:18px; height:64px; background:url(../../_img/editor/close_thumb.png) no-repeat; position:absolute; right:-9px; top:50%; z-index:1;
    -webkit-transform: translate(0, -50%);-moz-transform: translate(0, -50%);-ms-transform: translate(0, -50%);-o-transform: translate(0, -50%);transform: translate(0, -50%);
}
.page-editor-pc._hideSide .left-side ._btn-drop {
    right:-14px;
    -webkit-transform: translate(0, -50%) rotate(180deg);-moz-transform: translate(0, -50%) rotate(180deg);-ms-transform: translate(0, -50%) rotate(180deg);-o-transform: translate(0, -50%) rotate(180deg);transform: translate(0, -50%) rotate(180deg);
}
.page-editor-pc .left-side .tab-wrap {width:100%; border:1px solid #8fc7e3; border-radius:6px; overflow: hidden}
.page-editor-pc .left-side .tab-wrap ._btn-tab {display:block; text-align:center;float:left; width:50%; height:38px; line-height:36px; background:#fff; font-size:11px; color:#757677;}
.page-editor-pc .left-side .tab-wrap ._btn-tab._active {background:#168ece; color:#fff;}

.page-editor-pc .left-side .tab-pane {padding:75px 0; position:relative; display:none;}
.page-editor-pc .left-side .tab-pane._active {display:block;}
.page-editor-pc .left-side .tab-pane .btn-arrow {
    display:block; width:34px; height:22px; background:url(../../_img/editor/arrow_down.png) no-repeat; position:absolute; left:50%;
    -webkit-transform: translate(-50%, 0);-moz-transform: translate(-50%, 0);-ms-transform: translate(-50%, 0);-o-transform: translate(-50%, 0);transform: translate(-50%, 0);
}
.page-editor-pc .left-side .tab-pane .btn-arrow._prev {
    top:30px;
    -webkit-transform: translate(-50%, 0) rotate(180deg);-moz-transform: translate(-50%, 0) rotate(180deg);-ms-transform: translate(-50%, 0) rotate(180deg);-o-transform: translate(-50%, 0) rotate(180deg);transform: translate(-50%, 0) rotate(180deg);
}
.page-editor-pc .left-side .tab-pane .btn-arrow._next {bottom:30px;}
.page-editor-pc .left-side .slide-containter {height:100%;}
.page-editor-pc .left-side .slide-wrap,
.page-editor-pc .left-side .slide-wrap > li {width:100%; display:block; }
.page-editor-pc .left-side .slide-wrap {overflow: hidden}
.page-editor-pc .left-side .slide-wrap > li {padding:11px 1px;}
.page-editor-pc .left-side .slide-wrap > li .item {border:1px solid #d6d8d9; background:#f8f8f6; position:relative; border-radius:6px; overflow: hidden; display:block;}
.page-editor-pc .left-side .slide-wrap > li._active {padding:10px 0;}
.page-editor-pc .left-side .slide-wrap > li._active .item {border:2px solid #168ece;}
.page-editor-pc .left-side .slide-wrap > li .item .img-wrap {padding-top:142px; background-size:cover; background-position:center; background-repeat:no-repeat;}
.page-editor-pc .left-side .slide-wrap > li .item .dec-wrap {height:34px; line-height:34px; text-align: center; font-size:12px; color:#000; font-weight:700;}


/*right-side*/
.page-editor-pc .right-side .right-con {display:none;}
.page-editor-pc .right-side .right-con._active {display:block;}
.page-editor-pc .right-side .btn-wrap .btn {text-align: center; display:block; width:100%; padding:10px 0; border:2px solid transparent; margin-bottom:10px;}
.page-editor-pc .right-side .btn-wrap .btn strong,
.page-editor-pc .right-side .btn-wrap .btn p {display:block ;width:100%; line-height:1; font-size:20px;}
.page-editor-pc .right-side .btn-wrap .btn p {font-size:12px; margin-top:5px;}
.page-editor-pc .right-side .btn-wrap .btn.btn-request {background:#fff; color:#000; border-color:#d0d0d0;}
.page-editor-pc .right-side .btn-wrap .btn.btn-confirm {background:#168ece; color:#fff; border-color:#168ece; }
.page-editor-pc .right-side .info-wrap {background: #fff; border-radius:4px; padding:20px; padding-bottom:120px; position:relative}

.dl-tbl,
.dl-tbl dt,
.dl-tbl dd {display:block ;width:100%; }
.dl-tbl {margin-bottom:35px;}
.dl-tbl dt {border-bottom:2px solid #a4aabb; font-size:16px; color:#556080; line-height:1; padding-bottom:10px; font-weight:700;}
.dl-tbl dt:after {content:""; display:block ;height:0; visibility: hidden;clear: both;}
.dl-tbl dt small {font-size:11px; color:#6b6b6b;}
.dl-tbl dd .tbl1 {text-align: left;}
.dl-tbl dd .tbl1 th,
.dl-tbl dd .tbl1 td {padding:5px 0; font-size:14px; color:#525b74; font-weight:700;}
.dl-tbl dd .tbl1 td {color:#333;}
.dl-tbl dd .tbl2 th {border-bottom:1px solid #d8d8d8; padding:5px 0;color:#384247; font-size:12px;text-align: center}
.dl-tbl dd .tbl2 td {padding:10px 0; font-size:12px; font-weight:700; border-bottom:2px solid #f9f9f9;color:#000; text-align: center}

.page-editor-pc .dl-tbl dd .store {display:block; background:#fafafa; padding:15px 0; text-align: center; font-size:14px; color:#333; font-weight:700;}
.page-editor-pc .dl-tbl.d3 {margin-bottom:0}
.page-editor-pc .dl-tbl.d2 dd {padding-top:10px;}

.page-editor-pc .right-side .info-wrap .btt-wrap {position:absolute; left:20px; right:20px;bottom:20px;}
.page-editor-pc .right-side .info-wrap .btt-wrap .btn {display:block; width:100%; line-height:37px; height:37px; border-radius:4px; text-align: center; font-size:14px;}
.page-editor-pc .right-side .info-wrap .btt-wrap .btn.b1 {background:#d61d28; color:#fff;}
.page-editor-pc .right-side .info-wrap .btt-wrap .btn.b2 {background:#ecf0f1; color:#000; margin-top:10px;}
.page-editor-pc .right-side .right-con.r2 .btn-wrap .btn.btn-prev {background:#fff; color:#000; border-color:#d0d0d0;}
.page-editor-pc .right-side .right-con.r2 .btn-wrap .btn.btn-prev .txt {color:#3f3f3f; font-size:12px; display:inline-block; font-weight:700;}
.page-editor-pc .right-side .right-con.r2 .btn-wrap .btn.btn-prev .txt:before {content:""; display:inline-block; width:26px; height:18px; background:url(../../_img/editor/btn_prev.png) center no-repeat; vertical-align: middle; margin-right:15px;}
.page-editor-pc .right-side .right-con.r2 .info-wrap {background:#fafafa; padding:10px;}
.page-editor-pc .right-side .right-con.r2 .info-wrap .article-wrap .tit-wrap {position:relative; padding:6px 0;padding-left:45px;margin-bottom:15px;}
.page-editor-pc .right-side .right-con.r2 .info-wrap .article-wrap.a1 {margin-bottom:35px;}
.page-editor-pc .right-side .right-con.r2 .info-wrap .article-wrap.a1 .tit-wrap {background:url(../../_img/editor/obj_1.png) center left no-repeat; }
.page-editor-pc .right-side .right-con.r2 .info-wrap .article-wrap.a2 .tit-wrap {background:url(../../_img/editor/obj_2.png) center left no-repeat; }
.page-editor-pc .right-side .right-con.r2 .info-wrap .article-wrap .tit-wrap .tit {font-size:18px; font-weight:700; color:#000; line-height:1; display:block ;width:100%;}
.page-editor-pc .right-side .right-con.r2 .info-wrap .article-wrap .tit-wrap .tit .c1 {color:#009bdc}
.page-editor-pc .right-side .right-con.r2 .info-wrap .article-wrap .tit-wrap .dec {color:#556080; font-size:12px; line-height:1; margin-top:5px;}
.page-editor-pc .right-side .right-con.r2 .info-wrap .article-wrap.a1 textarea {height:210px}
.page-editor-pc .right-side .right-con.r2 .info-wrap .article-wrap.a2 textarea {height:120px}
.page-editor-pc .right-side .right-con.r2 .info-wrap .article-wrap .btn-upload {width:100%; border-radius:6px;background:#556080 url(../../_img/editor/ico_upload.png) no-repeat; background-position:left 10px center; line-height:40px; height:40px ;text-align:center; color:#fff; display:inline-block; margin-top:10px; font-size:14px; font-weight:700;}
.page-editor-pc .right-side .right-con.r2 .info-wrap .article-wrap .article-dec {color:#556080; font-size:12px; margin-top:5px;text-align: center; width:100%; line-height:1;}
.page-editor-pc .right-side .right-con.r2 .btt-wrap {position:absolute; left:10px; bottom:10px; right:10px; }
.page-editor-pc .right-side .right-con.r2 .btt-wrap .btn {display:block; width:100%; line-height:62px; height:66px; border:2px solid transparent; font-weight:700; font-size:20px; text-align: center;}
.page-editor-pc .right-side .right-con.r2 .btt-wrap .btn.b1 {border-color:#d61d28; background:#d61d28; color:#fff;}
.page-editor-pc .right-side .right-con.r2 .btt-wrap .btn.b2 {border-color:#d0d0d0; background:#fff; color:#000; margin-top:10px;}

/*editor-wrap*/
.page-editor-pc .editor-wrap {padding-bottom:40px; position:relative; width:100%;}
.page-editor-pc .editor-wrap #editor {height:100%;width:100%; display:table; table-layout: fixed;}
.page-editor-pc .editor-wrap #editor .panzoom-parent {display:table-cell; vertical-align: middle;width:100%; overflow: auto !important;}
.page-editor-pc .editor-wrap #editor .buttons {
    position:absolute; left:50%; bottom:40px;
    -webkit-transform: translate(-50%, 0);-moz-transform: translate(-50%, 0);-ms-transform: translate(-50%, 0);-o-transform: translate(-50%, 0);transform: translate(-50%, 0);
}
.page-editor-pc .editor-wrap #editor .buttons .btn {display:inline-block; width:62px; height:62px; border:none; margin:0 10px; box-shadow:0 0 10px rgba(255,255,255,0.6); padding:0; background:#000; border-radius:100%; cursor:pointer;}
.page-editor-pc .editor-wrap #editor .buttons .btn.zoom-in {background:url(../../_img/editor/btn_plus.png) center no-repeat; }
.page-editor-pc .editor-wrap #editor .buttons .btn.zoom-out {background:url(../../_img/editor/btn_minus.png) center no-repeat; }
.page-editor-pc .editor-wrap #editor .buttons .btn.reset {background:url(../../_img/editor/btn_reset.png) center no-repeat; }
.page-editor-pc .editor-wrap .btt-wrap {position:absolute; bottom:0; left:0; width:100%;background:#fff; border-top:2px solid #f1f1f1; padding:5px 10px}
.page-editor-pc .editor-wrap .btt-wrap .btn-down {display:inline-block; line-height:28px; height:28px; color:#556080; font-size:12px; border:1px solid #556080; border-radius:6px; width:120px; text-align: center;}
